.company-header-row {
  padding-top: 16px;
  padding-bottom: 8px;
}

.company-title {
  font-size: 18pt;
  font-weight: bold;
}

.company-working-period {
  font-size: 18pt;
  float: right;
  font-style: italic;
}

.company-position {
  font-size: 16pt;
  padding-bottom: 8px;
}
