.project-description {
}

.project-title {
  border-bottom-style: solid;
  display: inline-block;
  border-bottom-color: darkgray;
}

.project-description {
}

.project-team-size {
}

.project-technologies-stack {
}

.project-technologies-stack-container {
}

.project-technologies-stack-container li {
  margin-bottom: 4px;
}
.project-technologies-stack-item {
}

.project-title-header {
  font-weight: bold;
}
